<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body { font-family: Helvetica;}
        div { 
            padding: 25px;
            background-color: aliceblue;
            margin: 35px;
            }
            a {
                color: darkblue;
            text-decoration: none;
            }
    </style>
</head>
<body>   
    <div>

        <form method="POST" action='/recipes/<%= "#{@recipe.id}" %>'>
            <form id="patch" method="POST" action='/recipes/<%= "#{@recipe.id}" %>'>
                <label for="name">Name</label>
                <input type="text" name="name" value="<%= @recipe.name %>">
                <label for="ingredients">Ingredients</label>
                <br>
                <textarea type="text" name="ingredients"><%= @recipe.ingredients %></textarea>
                <label for="cook_time">Cook Time</label>
                <br>
                <textarea type="text" name="cook_time"><%= @recipe.cook_time %></textarea>
                <input id="hidden" type="hidden" value="patch" name="_method">
                <br>
                <input type="submit" value="save">
            </form>
    </div>
</body>
</html>